* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue-background-and-heading-color);
}
:root {
  --cloud-background-color: #f4f4fd;
  --navyblue-background-and-heading-color: #2e2f42;
  --orderservice-and-logospan-color: #4d5ae5;
  --paragraph-color: #434455;
  --h1-and-ourteam-images-bacground-color: #ffffff;
  --portfolio-button: #404bbf;
  --cornflower: #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-wrap {
  display: flex;
  align-items: center;
}
.header-layout {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--cornflower);
}
.nav {
  margin-left: 76px;
}
.nav-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.address {
  margin-left: auto;
  display: flex;
  gap: 40px;
}
.main-navy-section-layout {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
  margin: 0 auto;
}
.main-navy-content {
  width: 496px;
  text-align: center;
  margin: 0 auto;
  padding-top: 188px;
}
.button-layout {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 48px;
}
.company-deccription-layout {
  display: inline-flex;
  justify-content: center;
  width: 1128px;
  flex-shrink: 0;
}
.comp-description-feature {
  display: inline-flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 0;
}
.wywd-layout {
  text-align: center;
}
.wawd-image-layout {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 120px;
  border: 1px solid var(--cornflower, #e7e9fc);
}
.team {
  background-color: var(--cloud-background-color);
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-img-layout {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.footer-layout {
  display: flex;
  justify-content: center;
  width: 1440px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 100px 1020px 100px 156px;
}
.footer-content-layout {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
}
.portfolio-buttons-layout {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
  margin: 96px 0px 72px 0px;
}
.logo {
  font-size: 18px;
  line-height: 1.17;
  color: var(--navyblue-background-and-heading-color);
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 0.54px;
}
.logo-span {
  color: var(--orderservice-and-logospan-color);
}
.nav-menu {
  font-size: 16px;
  line-height: 1.5;
  color: var(--navyblue-background-and-heading-color);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.32px;
}
.nav-menu:hover,
.nav-menu:focus {
  color: var(--portfolio-button);
}
.no-dots {
  display: flex;
  column-gap: 24px;
  list-style: none;
}
.image-columns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}
.mail {
  font-size: 16px;
  line-height: 1.5;
  color: var(--navyblue-background-and-heading-color);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.32px;
}
.tel {
  font-size: 16px;
  line-height: 1.5;
  color: var(--navyblue-background-and-heading-color);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.32px;
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--portfolio-button);
}
.main-navy-section {
  background-color: var(--navyblue-background-and-heading-color);
}
.main-heading {
  font-size: 56px;
  line-height: 1.07;
  color: var(--h1-and-ourteam-images-bacground-color);
  font-weight: 700;
  letter-spacing: 1.12px;
}
.main-button {
  font-size: 16px;
  line-height: 1.5;
  color: var(--h1-and-ourteam-images-bacground-color);
  font-weight: 500;
  background-color: var(--orderservice-and-logospan-color);
  cursor: pointer;
  font-family: "Roboto";
}
.main-button:hover {
  background-color: var(--portfolio-button);
}
.portfolio-button {
  padding: 12px 24px;
  color: var(--orderservice-and-logospan-color);
  background-color: var(--cloud-background-color);
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: 1.5;
  font-weight: 500;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--h1-and-ourteam-images-bacground-color);
  background-color: var(--portfolio-button);
}
.portfoilio-text-layout {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding-top: 32px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}
.portfolio-section-layout {
  padding-bottom: 120px;
}
.company-description-heading {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}
.company-description-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--paragraph-color);
  margin-top: 8px;
}
.wawd-heading {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.72px;
  padding-bottom: 72px;
}
.team-heading {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-align: center;
  padding-bottom: 72px;
}
.team-description {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--cornflower);
  border-radius: 0px 0px 4px 4px;
}
.img-heading {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.img-paragraph {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 32px;
}
.footer-background {
  background-color: var(--navyblue-background-and-heading-color);
  width: 1440px;
}
.footer-logo {
  font-size: 18px;
  line-height: 1.17;
  color: var(--h1-and-ourteam-images-bacground-color);
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--h1-and-ourteam-images-bacground-color);
  margin-top: 17.5px;
}
